html{
    background-image: url("/img/GOGOGO Manga y comics store.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body { 
    position: relative;
    top: 25vh;
    left: 22vw;
    right: 22vw;
    color: #212F3D;
    text-align: center;
    outline: 9px double #4C90BE;
    width: 56vw;
    padding-top: 1vh;
    border-radius: 8px;
    background-color: #F5EEF8;
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    font-size:calc(1.2em + .5vmin);
}

input, .btn-primary {
    font-size:calc(0.8em + .5vmin);
}

h1 {
    font-size:calc(2.3em + 1vmin) ;
}

.row{
    margin-top: 1.2vh;
}

.btn-primary {
    margin-top: 1.5vh;
    background-color: #5A348C;
    border-color: #47296D;
    
}

.btn-primary:hover {
    background-color: #47296D;
    border-color: #5A348C;
}

#errorPosition {
    margin: 1vw;
}

#UserName, #UserPass {
    width: 30vw;
}