html{
    background: rgb(119,67,187);
    background: linear-gradient(90deg, rgba(119,67,187,1) 0%, rgba(58,151,180,1) 100%);
}

.MainTitle{
    text-align:center
}

.imgStyle{
    max-width:100%;
    max-height:100%;
}

.table{
    border-collapse: collapse;                         /*No space between cell borders*/
    margin: 5vh auto auto auto;
    width: 80vw;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);       /*Shadow around the table*/
    background-color: #17c6a3;
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table th{
    padding: 12px 15px;    
}
.table td {
    padding: 12px 15px;
    height: 15vh;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.cellStlye{
    border: 1px solid black;
    text-align: center;
    width: 15vw;
}

.imgCellStyle{
    border: 1px solid black;
    text-align: center;
    width: 10vw;
}
