
main {
    padding: 125px 5vw 25px 5vw;
    min-height: 100vh;
    background-image: url("/img/Gogogo feed completo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    background-color: rgba(0,0,0,.7);
    outline: 9px double #4C90BE;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

header {
    text-align: center;
    margin-top: 1.5vh;
}

table{
    border-collapse: collapse;                         /*No space between cell borders*/
    background-color: rgba(19,141,117,.5);
    margin-top: 1.5vh;
}

table thead th {
    font-size: 1.4em;
}

table tbody tr {
    font-size: 1.2em;
}

table thead th, table tfoot tr, table tbody tr {
    color: white;
    text-align: center; 
    border-bottom: 2px solid #45B39D;   
}

table tbody tr:nth-of-type(even) {
    background-color: rgba(23,165,137,.4);
}

table tbody tr.active-row {
    font-weight: bold;
    color: black;
}

.cellStlye, .imgCellStyle {
    border: 2px solid #45B39D;
    min-width: 20vw;
    border-left: none;
    border-right: none;
}

.imgStyle{
    max-width:20vw;
    max-height:57.5vh;
}

#previousPageButton, #nextPageButton {
    background-color: #5A348C;
    border-color: #47296D;
    margin: 1.75vh 2.5vw;
    font-size: 1.3em;
}

#previousPageButton:hover, #nextPageButton:hover {
    background-color: #47296D;
    border-color: #5A348C;
}

#pageNumber {
    font-size: 1.4em;
}

::-webkit-scrollbar {
  background-color: #D6CBDA;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #603896;
  border-radius: 1px;
  border: 1px solid #47296D;
}

/*Autocomplete*/

.ui-autocomplete {
    max-height: 40vh;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  html .ui-autocomplete {
    
    background-color: inherit;;
  }

  html .ui-autocomplete .ui-menu-item .ui-corner-all {
    background: red;
 }

 .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #071520 !important;
    font-weight: bold !important;
    color: #ffffff !important;
} 