   nav {
      background: linear-gradient(90deg, #180748 0%, #603896 100%);
   }

   .dropdown-toggle {
      background-color: #200960;
      border-color: #180748; 
   }

   .dropdown-toggle:hover {
      background-color: #180748;
      border-color: #200960;
   }

   .dropdown-menu {
      background-color: #F5EEF8;;
   }

   .dropdown-item:hover {
      background-color: #ECE6EE;
   }
