
main {
    padding: 125px 7.5vw 25px 7.5vw;
    min-height: 100vh;
    background-image: url("/img/3068.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    background-color: #D6CBDA;
    outline: 9px double #4C90BE;
    border-radius: 8px;
}

#mainTitle{
    padding-top: 1vh;
    text-align: center;
    color: #212F3D;
}

table{
    border-collapse: collapse;                         /*No space between cell borders*/
    margin-top: 2vh;
    width: 80vw;
    background-color: #E4D8E9;
    border-radius: 0 0 8px 8px;
}

thead {
    font-weight: bold;
}

tr {
    outline: 1px solid black;
}

th, td{
    width: 15vw;
    
}

button {
    background-color: #D6CBDA;
    border-color: whitesmoke; 
    color: #212F3D;
}

#newUsernameInput, #newPasswordInput, #newNameInput, #newLastNameInput, #newEmailInput {
    width: 13vw;
}

::-webkit-scrollbar {
  background-color: #D6CBDA;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #603896;
  border-radius: 1px;
  border: 1px solid #47296D;
}