<html>
    <main>
        <header>
            <script src="https://code.jquery.com/jquery-3.5.0.js"></script>    
            <script type="text/javascript" src="../../js/admin/MainPage.js"></script>
            <link rel="stylesheet" type="text/css" href="../css/NavBar.css">
            <link rel="stylesheet" type="text/css" href="../css/BodyCatalog.css"> 
        </header>
        <body>
            <head>
                <div id="navBarUbication"></div>
                <title>GOGOGO Local</title>
            </head>
            <div class="MainWrapper">
                <h1 class="MainTitle">GOGOGO Local</h1>
            </div>
        </body>
    </main>
</html>