<html>
    <header>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript" src="../../js/admin/UserMagement.js"></script>
        <link rel="stylesheet" type="text/css" href="../../css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="../../css/UserManagement.css">
        <style>
            #MainTitle{
                text-align: center;
            }
        </style>
    </header>
    <main>
        <head>
            <div id="navBarUbication"></div>
            <title>Administración de usuarios</title>
        </head>
        <body>
            <div id="wrapperDiv">
                <h1 id="MainTitle">Lista de usuarios</h1>
                <div id="tableUbication"></div>
            </div>
        </body>
        <footer>

        </footer>
    </main>
</html>
