<html>
    <header>
        <link rel="stylesheet" type="text/css" href="../css/Login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="../js/LoginJS.js"></script>
    </header>
    <main>
        <head>
            <title>Login</title>
        </head>
        <body>
            <div id="titleLoginDiv">
                <h1 id="titleLogin">Login System</h1>
            </div>
                <p>Please fill the form below to let the system check your identity</p>
                <form id ="loginForm" method="post" onsubmit="validateUser()">
                <div id="wrapperGrid">
                    <div id="usernameLabel">
                        <label for="UserName">User name: </label>
                    </div>
                    <div id="usernameInput">
                        <input type="text" id="UserName" required>
                    </div>
                    <div id="passwordLabel">
                        <label for="UserPass">Password: </label>
                    </div>
                    <div id="passwordInput">
                        <input type="password" id="UserPass" required>
                    </div>
                    <input type ="submit" value="Send" id="sendBotton">
                    <div id="errorPosition"><span id="errorMessage"></span></div>
                </div>
            </form>
        </body>
    </main>

</html>