<html>
<main>
    <header>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript" src="../../js/MainPage.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/NavBar.css">
        <link rel="stylesheet" type="text/css" href="../css/MainPage.css">
    </header>
    <body>
        <head>
            <div id="navBarUbication"></div>
            <title>GOGOGO Local</title>
        </head>
        <div class="MainWrapper">
            <h1 class="MainTitle">GOGOGO Local</h1>
        </div>
        <div id="catalogUbication">
            <table id="catalogTable" class="table">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripcion
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Imagen
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </body>
    <footer>
        <p id="loadStatus" style="text-align: center;"></p>
    </footer>
</main>

</html>