<html>
    <main>
        <header>
            <link rel="stylesheet" type="text/css" href="../css/NavBar.css">
            <link rel="stylesheet" type="text/css" href="../css/BodyCatalog.css">
            <div class="topnav">
                <a class="active" href="#home">Inicio</a>
                <a href="../php/Login.php">Log in</a>
                <a href="../php/LogOut.php" hidden>Log out</a>
              </div>     
        </header>
        <body>
            <div class="MainWrapper">
                <h1 class="MainTitle">GOGOGO Local</h1>
            </div>
        </body>
    </main>
</html>