<html>
    <header>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript" src="../js/includeHTML.js"></script>
        <script type="text/javascript" src="../js/UserMagement.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/NavBar.css">
        <style>
            #MainTitle{
                text-align: center;
            }
        </style>
    </header>
    <main>
        <head>
            <div id="navBarUbication"></div>
            <title>Administración de usuarios</title>
        </head>
        <body>
            <h1 id="MainTitle">Lista de usuarios</h1>
            <div id="tableUbication"></div>
        </body>
        <footer>

        </footer>
    </main>
    <script>
        includeHTML();
        changeHomeHREF("asd");
        var aux = document.getElementById("homeNavBar");
        aux.setAttribute("href", "../index.php");
    </script> 
</html>
